<!DOCTYPE html>
<html lang="es">
<!-- Include Head modificacion -->
<%- include('./partials/head', {title: product.name}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- product detail -->
	<main class="container-detail-main">
	<div class="container-detail">
		<div class="container-detail-h2">
			
		  <h2 class="products-title">Detalle del producto: <%- product.name %></h2>
			
		</div>
		<div class="product-detail">
			
				<div class="product-box-img">
					<figure class="product-detail-img">
					<img src="/images/<%- product.image %>" alt="product image" class="product-detail-img">
					</figure>
                    <div class="product-description">
					<p >Caracteristicas: 
						<%- product.description %>
					</p>
			     	</div>
				</div>
				
					<article class="product-detail-info">
						<h2 class="product-detail-title"> <%- product.name %></h2>
						
					     <% if (product.discount > 0) { %>
                           <div class="product-discount">	
							<p >
							Antes <span>$ <%- toThousand(product.price) %></span>
							</p> 
							<div class="product-detail-price">
                             <h4 >
							Ahora $ <%- toThousand(product.price - product.price * product.discount / 100) %> con el 
							</h4>  
							<b> <%- product.discount %>% OFF</b>
							</div>

                           </div>
						 <% }else{ %>
							<div class="product-detail-price">
								<h4 >
								$ <%- toThousand(product.price) %>
							   </h4>  
							</div>

							<% } %>

						<ul class="actions-list">
							<li>	
								<i class="fas fa-credit-card"></i>
								<div class="detail-p">
								<p> Pagá en 12 cuotas sin interes</p>
								</div>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<div class="detail-p">
								<p> Retiro gratis en locales del vendedor</p>
								</div>
							</li>
						</ul>
                         <div class="button-product-action">

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						
						<hr>
						<a href="/products/<%- product.id %>/edit" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/<%- product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>

				     	</div>
					</article>	
		</div>
	</div>
	<!-- /product detail -->
    </main>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>