<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', {title: 'Inicio'}) %> 
<body>
    
    <%- include('partials/header.ejs') %> 
    <main>
        <div><img src="images/img-home-banner.jpg" width="100%" alt="imagenes con ofertas"></div>

        <section>
             <!-- last visits -->
            <h2 class="titulo-main"><strong>Basado en tu última visita</strong></h2>
            <!-- Show the "visited" products -->

            <% productsVisited.forEach(product => { %>
                   <div class="main-contenedor-productos">
                    <a href="/products/detail/<%- product.id %>">
                    <article class="descripcion-main" >
                    <img src="/images/products/<%- product.image %>" alt="imagen de producto">
                 <i class="fas fa-truck"></i>
                <p> <%- toThousand(product.price - product.price * product.discount / 100) %> </p> 
               <p><%- product.discount !== 0 ? `${product.discount}% OFF` : "" %> </p>
             <h5 class="h5-descripcion-main"><%- product.name %></h5> 
             </a>
             </article>
             </div>
            <% }) %>
        </section>

        <section>
            <h2 class="titulo-main"><strong>Sección de Ofertas</strong></h2>
            
            <% productsInSale.forEach(product => { %>
              <div class="main-contenedor-productos-2">
               <a href="/products/detail/<%- product.id %>">
               <article class="descripcion-main" >
               <img src="/images/products/<%- product.image %>" alt="imagen de producto">
            <i class="fas fa-truck"></i>
           <p> <%- toThousand(product.price - product.price * product.discount / 100) %> </p> 
          <p><%- product.discount !== 0 ? `${product.discount}% OFF` : "" %> </p>
           <h5 class="h5-descripcion-main"><%- product.name %></h5>
            </a>
           </article>
           </div>
           <% }) %>
        </section>
        
      </main>
      <%- include('./partials/footer.ejs') %> 
</body>
</html> <!--
"-->
