<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<%- include('partials/header') %>
	<!-- todos los productos -->
	<main class="container-products">
		<h2 class="titulo-productos"><strong>Todos los productos</strong></h2>
			<section class="container-products-all">

				<!-- Show the "visited" products -->
			
			<% productos.forEach(product => { %>
				
			<a href="/products/detail/<%- product.id %>">
				<article class="card-producto">
				<figure class="card-image">
					 <img
				    src="/images/<%- product.image %>"
					alt="imagen de producto"
					 />
				</figure>
				<div class="icon-home-main">
				<i class="fas fa-truck"></i>
				</div>
				<div class="detail-info-box">
				<div class="detail-info-1">
				<p class="detail-info-p">
$<%- toThousand(product.price - product.price * product.discount / 100) %>
				</p>
				</div>
				<div class="detail-info-2">
					<p class="">
					<%- product.discount !== 0 ? `${product.discount}% OFF` : "" %>
					</p>
				</div>
				</div>
	<h5 class=""><%= product.name %></h5>
			 </article>
		</a>
			 <% }) %>
			</section>
		</main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>